.header{
   background: #1C2B35;
   height: 80px;
   position: fixed;
   width: 100%;
   z-index: 999;
   display: flex;
   align-items: center;
   gap: 20px;
   top: 0;
}
.header-navbar{
   display: flex;
   align-items: center;
   justify-content: space-between;  
   width: 100%;
   max-width: 960px;
   margin: 0 auto;
}

.header-navbar a{
   font-size: 17px;
   color: #fff;
   margin-left: 25px;
   text-decoration: none;
   text-transform: uppercase ;
   transition: all 0.5 ease-in-out;
   -webkit-transition: all 0.5 ease-in-out;
   -moz-transition: all 0.5 ease-in-out;
   -ms-transition: all 0.5 ease-in-out;
   -o-transition: all 0.5 ease-in-out;
}
.header-navbar a:hover{
   color: orange;
   font-weight: bold;
}

.logout{

}

.text-white{
   color: #fff;
}